<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="css/about.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- HEADER -->
    <%- include('header'); -%>

    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>

    <!-- SECTION-1 -->
    <section id="sec-1">
        <h1>About Us</h1>
        <p id="p1" class="para">
            Centre for Development of Advanced Computing (C-DAC) is the premier Research and Development (R&D) organization of the Ministry of Electronics and Information Technology (MeitY) for carrying out R&D in Information Technologies and Electronics (IT&E) and associated areas.  Different areas of C-DAC, had originated at different times, many of which came out as a result of identification of opportunities. 
            <div class="p1-box">
                <ul>
                    <li>
                        <p>The setting up of C-DAC in 1988 itself was to built Supercomputers in context of denial of import of Supercomputers by USA. Since then C-DAC has been undertaking building of multiple generations of Supercomputer starting from PARAM with 1 GF in 1988.</p>
                    </li>
                    <li>
                        <p>Almost at the same time, C-DAC started building Indian Language Computing Solutions with setting up of GIST group (Graphics and Intelligence based Script Technology); National Centre for Software Technology (NCST) set up in 1985 had also initiated work in Indian Language Computing around the same period.</p>
                    </li>
                    <li>
                        <p>Electronic Research and Development Centre of India (ER&DCI) with various constituents starting as adjunct entities of various State Electronic Corporations, had been brought under the hold of Department of Electronics and Telecommunications (now MeitY) in around 1988. They were focusing on various aspects of applied electronics, technology and applications.</p>
                    </li>
                    <li>
                        <p>With the passage of time as a result of creative ecosystem that got set up in C-DAC, more areas such as Health Informatics, etc., got created; while right from the beginning the focus of NCST was on Software Technologies; similarly C-DAC started its education & training activities in 1994 as a spin-off with the passage of time, it grew to a large efforts to meet the growing needs of Indian Industry for finishing schools.</p>
                    </li>
                </ul>
            </div>
        </p>
            
        <p id="p2" class="para">
            C-DAC has today emerged as a premier R&D organization in IT&E in the country working on strengthening national technological capabilities in the context of global developments in the field and responding to change in the market need in selected foundation areas.  In that process, C-DAC represents a unique facet working in close junction with MeitY to realize nation’s policy and pragmatic interventions and initiatives in Information Technology. As an institution for high-end R&D, C-DAC has been at the forefront of the IT revolution, constantly building capacities in emerging/enabling technologies and innovating and leveraging its expertise, caliber, skill sets to develop and deploy IT products and solutions for different sectors of the economy, as per the mandate of its parent, the Ministry of Electronics and Information Technology, Ministry of Communications and Information Technology, Government of India and other stakeholders including funding agencies, collaborators, users and the market-place. 
        </p>
    </section>
    
    <!-- SECTION - 2 -->
    <section id="sec-2">
        <div class="sec-box">
            <span class="heading">Vision</span>
            <p class="box-para">
                To emerge as the premier R&D institution for the design, development and deployment of world class electronic and IT solutions for economic and human advancement.
            </p>
        </div>
        <div class="sec-box">
            <span class="heading">Mision</span>
            <p class="box-para">
                C-DAC's Mission statement has evolved after deep thought and in consultation with the members of C-DAC. The Mission Statement as defined below, reflects the fabric and character of C-DAC and integrates in the fulfillment of C-DAC's Vision.
            </p>
            <ul class="box-list">
                <li>
                    <p>Expand the frontiers of Electronics and Information Technology.</p>
                </li>
                <li>
                    <p>Evolve technology solutions - architectures, systems and standards for nationally important problems.</p>
                </li>
                <li>
                    <p>Achieve rapid and effective spread of knowledge by overcoming language barriers through application of technologies.</p>
                </li>
                <li>
                    <p>Share experience and know-how to help build advanced competence in the areas of Electronics and Information Technology.</p>
                </li>
                <li>
                    <p>Bring benefits of Electronics and Information Technology to society.</p>
                </li>
                <li>
                    <p>Utilize the Intellectual Property generated by converting it to business opportunity.</p>
                </li>
            </ul>
        </div>
        <div class="sec-box">
            <span class="heading">Values</span>
            <p class="box-para">
                The essence of C-DAC's philosophy and the bed rock of our Corporate Culture...
            </p>
            <ul class="box-list">
                <li>
                    <p>Innovation and pursuit of excellence in 'Applications', 'Research' and 'Technology' (ART).</p>
                </li>
                <li>
                    <p>Integrity, transparency and openness in all our actions.</p>
                </li>
                <li>
                    <p>Working with and through the 'Teams' is our way of life.</p>
                </li>
                <li>
                    <p>Distributed Leadership across the organization at various levels.</p>
                </li>
                <li>
                    <p>Strive to continuously improve our processes and quality.</p>
                </li>
                <li>
                    <p>Address the needs of the society through user centric initiatives.</p>
                </li>
            </ul>
        </div>
    </section>

    
    <!-- FOOTER -->
    <%- include('footer'); -%>

    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>

</body>

</html>
