<!DOCTYPE html>
<html> 
<head>
        <title> About us </title>
        <meta charset="utf-8" />
        <meta name="viewpoint" content="width=device-width intial-scale=1 shrink-to-fit=no" />
        <link rel="icon" href="fav.ico" />
        <link rel="stylesheet" type="text/css" href="css/about.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body>
      <header id="header">
        <div class="lo">
            <img src="https://www.cdac.in/index.aspx?id=img_cdac-logo">
        </div>
        <span class="right font1">CDAC in North East (CNE)</span>
      </header>

 
  <div style="width: 100%; display: table;">

    <div style="display: table-row" >
      <div style="width: 15%; display: table-cell; background-color:#f9fcfc"></div>

      <div style="width: 70%; display: table-cell; background-color: #d5fcfe"> 
     
      
       <center>
      <font color="#660000" size="9x" align=""> ABOUT US  <br></font>
      </center>
      
      <br>
      <center>
      <br>
      </center>
          
      <p  style="background-color: #d5fcfe; margin-left: 18px; font-size: larger;">
          Centre for Development of  Advanced Computing (C-DAC) is the premier R&amp;D organization of the  Ministry of Electronics and Information Technology (MeitY) for carrying out R&amp;D in IT, Electronics and  associated areas.&nbsp; Different areas of  C-DAC, had originated at different times, many of which came out as a result of  identification of opportunities.
        </p>            
          <ul class="custom-ul-tender" style="font-size:larger; margin-right: 18px;">
                
                            <li> The setting up of C-DAC in 1988 itself was to  built Supercomputers in context of denial of import of Supercomputers by USA.  Since then C-DAC has been undertaking building of multiple generations of  Supercomputer starting from PARAM with 1 GF in 1988. <br><br></li>
                   
                            <li>Almost at the same time, C-DAC started building  Indian Language Computing Solutions with setting up of GIST group (Graphics and Intelligence based Script Technology);  National Centre for Software Technology (NCST) set up in 1985 had also  initiated work in Indian Language Computing around the same period.<br><br></li>
                         
                            <li> Electronic Research  and Development Centre of India (ER&amp;DCI) with various constituents starting  as adjunct entities of various State Electronic Corporations, had been brought  under the hold of Department of Electronics and Telecommunications (now MeitY) in  around 1988. They were focusing on various aspects of applied electronics,  technology and applications. <br><br></li>
                          
                            <li>With the passage of  time as a result of creative ecosystem that got set up in C-DAC, more areas  such as Health Informatics, etc., got created; while right from the beginning  the focus of NCST was on Software Technologies; similarly C-DAC started its  education &amp; training activities in 1994 as a spin-off with the passage of  time, it grew to a large efforts to meet the growing needs of Indian Industry  for finishing schools.<br><br></li>
                    </ul>
                   
         <p style="font-size:larger; margin-left: 18px; margin-right: 18px;">   C-DAC has today  emerged as a premier  R&amp;D organization in IT&amp;E (Information  Technologies and Electronics) in the country working on strengthening national  technological capabilities in the context of global developments in the field  and responding to change in the market need in selected foundation areas.&nbsp; In that process, C-DAC represents a unique  facet working in close junction with MeitY to realize nation’s policy and  pragmatic interventions and initiatives in Information Technology. <br><br>                                   As an  institution for high-end Research and Development (R&amp;D), C-DAC has been at  the forefront of the Information Technology (IT) revolution, constantly  building capacities in emerging/enabling technologies and innovating and  leveraging its expertise, caliber, skill sets to develop and deploy IT products  and solutions for different sectors of the economy, as per the mandate of its  parent, the Ministry of Electronics and Information Technology, Ministry of Communications  and Information Technology, Government of India and other stakeholders  including funding agencies, collaborators, users and the market-place.&nbsp; 
         </p>
       
      </div>
             
      <div style="width: 15%; display: table-cell; background-color:#ffffff"></div>
          
    </div>
      
  </div>
      
      
      
      
      
     <!-- FOOTER -->
    <footer id="footer">
      <div class="contact-logo">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
      </div>
      <div class="other-links">
          <p class="presskit-links font1">
              <a href="#" class="copyrights font1">Website Policies</a>
              <span class="copyrights">|</span>
              <a href="#" class="copyrights font1">Copyright Policy</a>
              <span class="copyrights">|</span>
              <a href="#" class="copyrights font1">Terms &amp; Conditions </a>
              <span class="copyrights">|</span>
              <a href="#" class="copyrights font1">Help</a>
              <span class="copyrights font1">|</span>
              <span class="copyrights font1">© 2022</span>
              <span class="copyrights font1"> C-DAC. All rights reserved</span>
              <span class="copyrights font1">|</span>
              <span id="LastUpdated" class="copyrights font1">Last Updated: Tuesday,&nbsp; June 07, 2022</span>
              <br>
              Website owned &amp; maintained by: Centre for Development of Advanced Computing (C-DAC)
          </p>
      </div>
  </footer>
      
    </body>
</html>      