<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Course</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/courses.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- HEADER -->
    <%- include('header'); -%>

    <nav id="course-navbar">
        <div class="course-navbar-item">
            <ul>
                <li class="course-item active"><a href="#course-section1" class="font5">About</a></li>
                <li class="course-item"><a href="#course-section2" class="font5">Instructor</a></li>
                <li class="course-item"><a href="#course-section3" class="font5">Syllabus</a></li>
                <li class="course-item"><a href="#course-section4" class="font5">Enrollment option</a></li>
                <li class="course-item"><a href="#course-section5" class="font5">FAQ</a></li>
            </ul>
        </div>
    </nav>


    <section id="course-section1">
        <div class="course-section1-content">
            <span class="font5">About this Course</span>
            <p class="font5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio pariatur inventore ratione quidem
                expedita doloribus vitae doloremque esse, labore facere dolorem ducimus laboriosam corrupti quis, rerum,
                delectus tempora molestiae saepe dicta repellat obcaecati magni asperiores cumque? Quas temporibus nulla
                quam minima distinctio? Possimus repellendus consectetur aspernatur ad. Unde expedita facere commodi
                nemo et, veniam accusantium vitae vel. Maxime facere id at impedit aliquam, minima, modi eligendi
                accusamus soluta provident magnam optio facilis consequuntur aliquid maiores et assumenda quasi, commodi
                voluptatibus rerum officia quis. Quibusdam, consequuntur nihil? Nesciunt, enim sint ducimus ipsam
                mollitia vel quos totam. Fugiat illum cupiditate accusamus!</p>
        </div>
        <div class="product-glance">
            <div class="product-glance-item">
                <div class="productglance-img">
                    <svg aria-hidden="true" class="svg-img"
                        style="fill:#284E36;height:20px;width:20px" viewBox="0 0 48 48" role="img"
                        xmlns="http://www.w3.org/2000/svg">
                        <title id="Hourstocompleteedf53f52-3c7b-4393-ac8a-b0c422989df7">Hours to complete</title>
                        <path
                            d="M24 47C11.318375 47 1 36.681625 1 24S11.318375 1 24 1s23 10.318375 23 23-10.318375 23-23 23zM2.91666667 24c0 11.6255417 9.45779163 21.0833333 21.08333333 21.0833333S45.0833333 35.6255417 45.0833333 24 35.6255417 2.91666667 24 2.91666667 2.91666667 12.3744583 2.91666667 24zm19.12500003 1.9166667V6.70833333h2.9166666V23H35.5v2.9166667H22.0416667z"
                            role="presentation"></path>
                    </svg></div>
                <div class="productglance-content">
                    <div class="sub font1"><span>Course Duration</span></div>
                    <div class="font5">Jul-Oct  2022</div>
                </div>
            </div>
            <div class="product-glance-item">
                <div class="productglance-img">
                    <svg aria-hidden="true" class="svg-img"
                        style="fill:#284E36;height:20px;width:20px" viewBox="0 0 48 48" role="img"
                        xmlns="http://www.w3.org/2000/svg">
                        <title id="Flexibledeadlinesde35daae-770c-419c-ccfc-f3859404561e">Flexible deadlines</title>
                        <g stroke="none" stroke-width="1" fill-rule="evenodd" role="presentation">
                            <g fill-rule="nonzero">
                                <g>
                                    <path
                                        d="M0,0 L48,0 L48,37 C48,43.0751322 43.0751322,48 37,48 L11,48 C4.92486775,48 0,43.0751322 0,37 L0,0 Z M46,37 L46,2 L2,2 L2,37 C2,41.9705627 6.02943725,46 11,46 L37,46 C41.9705627,46 46,41.9705627 46,37 Z M10,8 L38,8 L38,10 L10,10 L10,8 Z M34,17 L38,17 L38,21 L34,21 L34,17 Z M26,17 L30,17 L30,21 L26,21 L26,17 Z M18,17 L22,17 L22,21 L18,21 L18,17 Z M34,25 L38,25 L38,29 L34,29 L34,25 Z M26,25 L30,25 L30,29 L26,29 L26,25 Z M18,25 L22,25 L22,29 L18,29 L18,25 Z M10,25 L14,25 L14,29 L10,29 L10,25 Z M26,33 L30,33 L30,37 L26,37 L26,33 Z M18,33 L22,33 L22,37 L18,37 L18,33 Z M10,33 L14,33 L14,37 L10,37 L10,33 Z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg></div>
                <div class="productglance-content">
                    <div class="sub font1">Flexible deadlines</div>
                    <div class="font5">Reset deadlines in accordance to your schedule.</div>
                </div>
            </div>
            <div class="product-glance-item">
                <div class="productglance-img">
                    <svg aria-hidden="true" class="svg-img"
                        style="fill:#284E36;height:20px;width:20px" viewBox="0 0 48 48" role="img"
                        xmlns="http://www.w3.org/2000/svg">
                        <title id="ShareableCertificate0fba1fad-1d22-4340-b1b7-7fa036bc8b0e">Shareable Certificate
                        </title>
                        <path fill-rule="evenodd" transform="translate(0, 7)"
                            d="M0,33.4883721 L48,33.4883721 L48,0 L0,0 L0,33.4883721 Z M2.23255814,31.2835216 L45.7685581,31.2835216 L45.7685581,2.20595294 L2.23255814,2.20595294 L2.23255814,31.2835216 Z M37.9534884,18.5546345 L37.9534884,24.788241 L34.354436,23.3584786 L30.5362598,24.7838735 L30.5362598,18.8590034 C28.305764,17.6498837 26.7906977,15.3076504 26.7906977,12.622016 C26.7906977,8.7009892 30.0194673,5.5121263 33.9894439,5.5121263 C37.9598282,5.5121263 41.1886812,8.7009069 41.1886812,12.622016 C41.1886812,15.0409886 39.9485788,17.251856 37.9534884,18.5546345 Z M33.9894734,7.4680421 C31.1125966,7.4680421 28.7711928,9.7805068 28.7711928,12.6219868 C28.7711928,15.4630998 31.1126571,17.7755049 33.9894734,17.7755049 C34.9006939,17.7755049 35.7772388,17.544058 36.5515083,17.1107151 C38.1883943,16.1858852 39.208186,14.4893549 39.208186,12.6219868 C39.208186,9.7804471 36.8667218,7.4680421 33.9894734,7.4680421 Z M32.2012663,22.1366425 L34.3414624,21.3376682 L36.2702836,22.1039133 L36.2702836,19.3659681 C35.5424465,19.6066591 34.7746492,19.7314207 33.9894734,19.7314207 C33.3801179,19.7314207 32.7805792,19.6561943 32.2012663,19.5094807 L32.2012663,22.1366425 Z"
                            role="presentation"></path>
                    </svg>
                </div>
                <div class="productglance-content">
                    <div class="sub font1">Shareable Certificate</div>
                    <div class="font5">Earn a Certificate upon completion</div>
                </div>
            </div>
            <div class="product-glance-item">
                <div class="productglance-img">
                    <svg aria-hidden="true" class="svg-img"
                        style="fill:#284E36;height:20px;width:20px" viewBox="0 0 48 48" role="img"
                        xmlns="http://www.w3.org/2000/svg">
                        <title id="100%onlineafc06fbf-d9e8-4652-f97c-f4cad2c3d605">100% online</title>
                        <path
                            d="M29.144,2.6074 C30.868,4.5654 32.31,7.5324 33.322,11.1824 C36.407,10.4934 38.17,9.4914 39.698,8.6014 C36.855,5.7034 33.218,3.5864 29.144,2.6074 L29.144,2.6074 Z M8.239,8.6654 C9.691,9.5474 11.656,10.5824 15.059,11.2674 C16.093,7.5044 17.581,4.4624 19.364,2.4914 C15.054,3.4194 11.208,5.6144 8.239,8.6654 L8.239,8.6654 Z M17.026,11.5984 C18.939,11.8624 21.228,12.0234 24,12.0234 C27.009,12.0234 29.408,11.8414 31.364,11.5454 C29.704,5.6564 26.962,2.1054 24.321,2.0024 C24.263,2.0014 24.206,2.0014 24.148,2.0004 C21.478,2.0484 18.698,5.6304 17.026,11.5984 L17.026,11.5984 Z M2.022,23.0004 L13.482,23.0004 C13.543,19.4734 13.93,16.1644 14.579,13.2154 C10.664,12.4204 8.499,11.1834 6.891,10.1844 C4.03,13.7214 2.24,18.1604 2.022,23.0004 L2.022,23.0004 Z M15.482,23.0004 L32.923,23.0004 C32.861,19.4734 32.472,16.2744 31.855,13.4984 C29.767,13.8234 27.209,14.0234 24,14.0234 C21.035,14.0234 18.585,13.8444 16.538,13.5524 C15.928,16.3154 15.543,19.4964 15.482,23.0004 L15.482,23.0004 Z M34.923,23.0004 L45.977,23.0004 C45.758,18.1314 43.95,13.6704 41.06,10.1234 C40.978,10.1704 40.896,10.2184 40.813,10.2664 C39.129,11.2484 37.204,12.3704 33.808,13.1304 C34.467,16.1004 34.861,19.4394 34.923,23.0004 L34.923,23.0004 Z M23.915,33.4534 C27.147,33.4534 29.78,33.6774 31.956,34.0364 C32.515,31.3704 32.864,28.3324 32.923,25.0004 L15.482,25.0004 C15.54,28.2944 15.883,31.3024 16.431,33.9474 C18.471,33.6414 20.922,33.4534 23.915,33.4534 L23.915,33.4534 Z M2.022,25.0004 C2.233,29.6894 3.92,34.0034 6.627,37.4834 C6.703,37.4394 6.78,37.3944 6.858,37.3494 C8.586,36.3414 10.707,35.1064 14.475,34.3004 C13.889,31.4754 13.54,28.3354 13.482,25.0004 L2.022,25.0004 Z M33.905,34.4184 C37.597,35.2674 39.727,36.5214 41.338,37.5274 C44.065,34.0394 45.766,29.7094 45.977,25.0004 L34.923,25.0004 C34.864,28.3824 34.506,31.5634 33.905,34.4184 L33.905,34.4184 Z M33.443,36.3704 C32.426,40.2264 30.938,43.3554 29.144,45.3924 C33.373,44.3754 37.132,42.1334 40.02,39.0634 C38.571,38.1704 36.649,37.1104 33.443,36.3704 L33.443,36.3704 Z M7.947,39.0284 C10.955,42.2394 14.911,44.5494 19.364,45.5084 C17.504,43.4524 15.965,40.2294 14.927,36.2404 C11.531,36.9614 9.609,38.0614 7.947,39.0284 L7.947,39.0284 Z M16.888,35.8944 C18.541,42.1664 21.404,45.9494 24.148,45.9994 C24.206,45.9994 24.263,45.9984 24.321,45.9974 C27.031,45.8924 29.847,42.1574 31.492,35.9904 C29.446,35.6594 26.966,35.4534 23.915,35.4534 C21.091,35.4534 18.793,35.6194 16.888,35.8944 L16.888,35.8944 Z M24.203,48.0004 L24,48.0004 C10.767,48.0004 0,37.2334 0,24.0004 C0,10.7664 10.767,0.0004 24,0.0004 L24.203,0.0004 C24.26,0.0004 24.317,0.0014 24.375,0.0034 C37.436,0.2044 48,10.8914 48,24.0004 C48,37.1084 37.436,47.7954 24.375,47.9974 C24.317,47.9994 24.26,48.0004 24.203,48.0004 L24.203,48.0004 Z"
                            role="presentation"></path>
                    </svg></div>
                <div class="productglance-content">
                    <div class="sub font1">100% online</div>
                    <div class="font5">Start instantly and learn at your own schedule.</div>
                </div>
            </div>
            <div class="product-glance-item">
                <div class="productglance-img">
                    <svg aria-hidden="true" class="svg-img"
                        style="fill:#284E36;height:20px;width:20px" viewBox="0 0 48 48" role="img"
                        xmlns="http://www.w3.org/2000/svg">
                        <title id="Availablelanguagesabb45279-de14-41aa-9841-7c073fb536c5">Available languages</title>
                        <path
                            d="M11.4782609,2.03497615 C6.30052174,2.03497615 2.08695652,6.143593 2.08695652,11.1923688 L2.08695652,43.5739269 L15.2556522,32.5596184 L36.5217391,32.5596184 C41.6994783,32.5596184 45.9130435,28.4510016 45.9130435,23.4022258 L45.9130435,11.1923688 C45.9130435,6.143593 41.6994783,2.03497615 36.5217391,2.03497615 L11.4782609,2.03497615 Z M0,48 L0,11.1923688 C0,5.02130366 5.14956522,0 11.4782609,0 L36.5217391,0 C42.8504348,0 48,5.02130366 48,11.1923688 L48,23.4022258 C48,29.5732909 42.8504348,34.5945946 36.5217391,34.5945946 L16.0278261,34.5945946 L0,48 Z M17.7391304,17.2972973 C17.7391304,15.6113196 16.3377391,14.2448331 14.6086957,14.2448331 C12.8796522,14.2448331 11.4782609,15.6113196 11.4782609,17.2972973 C11.4782609,18.983275 12.8796522,20.3497615 14.6086957,20.3497615 C16.3377391,20.3497615 17.7391304,18.983275 17.7391304,17.2972973 Z M27.1304348,17.2972973 C27.1304348,15.6113196 25.7290435,14.2448331 24,14.2448331 C22.2709565,14.2448331 20.8695652,15.6113196 20.8695652,17.2972973 C20.8695652,18.983275 22.2709565,20.3497615 24,20.3497615 C25.7290435,20.3497615 27.1304348,18.983275 27.1304348,17.2972973 Z M36.5217391,17.2972973 C36.5217391,15.6113196 35.1203478,14.2448331 33.3913043,14.2448331 C31.6622609,14.2448331 30.2608696,15.6113196 30.2608696,17.2972973 C30.2608696,18.983275 31.6622609,20.3497615 33.3913043,20.3497615 C35.1203478,20.3497615 36.5217391,18.983275 36.5217391,17.2972973 Z"
                            role="presentation"></path>
                    </svg></div>
                <div class="productglance-content">
                    <div class="sub font1">English</div>
                </div>
            </div>
        </div>
    </section>

    <section id="course-section2">
        <span id="head" class="font5">Instructor</span>
        <div class="instructor-data">
            <img src="img/photo2.png" alt="Not Available">
            <div class="data font5">
                <span id="head2">Dr. Bruce Banner</span>
                <span>Assistant Professor</span>
                <span>Faculty of NIT Silchar</span>
                <span>1 course</span>
            </div>
        </div>
    </section>

    <section id="course-section3">
        <span class="font5">Syllabus - What you will learn from this Course</span>
        <div class="syllabus font5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi accusantium non itaque ab quisquam modi
            temporibus fugiat, dolorum minima, repudiandae quam. Molestias eius deleniti, voluptates quis blanditiis
            unde pariatur ipsam adipisci soluta nemo sapiente saepe necessitatibus labore doloribus quae architecto
            laudantium! Officia aperiam officiis exercitationem ducimus provident. Facere beatae quidem quia. Fugiat
            incidunt a perferendis delectus ipsum accusamus, eum repudiandae reiciendis quaerat ipsa animi sed dicta
            dolorem ea esse eos corrupti enim, sunt et beatae alias autem maxime. A suscipit voluptas, rerum, vel velit
            quaerat provident laboriosam expedita repellendus quibusdam tempora veritatis. Rem ab, consequatur facere
            mollitia quae nemo illum!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quibusdam ipsam iste aperiam dolore vel quis suscipit laudantium. Accusantium assumenda atque magnam pariatur sint nulla aliquid saepe quidem incidunt quis! Aliquid consequuntur, voluptatum at, repellat hic iure, perferendis excepturi exercitationem sequi cupiditate tenetur impedit veritatis nam atque repudiandae maiores recusandae eaque nulla omnis expedita ratione aspernatur itaque earum? Ducimus ipsa voluptas voluptatem assumenda dicta veniam blanditiis ratione, ab vero modi atque velit laborum sapiente quod qui nobis nisi, laudantium facere dolorum praesentium fuga corporis? Nesciunt consequatur earum eius sit, amet odit optio praesentium. Animi incidunt nulla, aspernatur ad tenetur accusamus?
        </div>
    </section>

    <section id="course-section4">
        <div class="course-enroll font5">
            <span>Start Learning Today</span>
            <a href="#">Financial aid available</a>
            <button class="btn4">Enroll Now </button>
        </div>
        <div class="course-enroll-info font5">
            <span>Sharable on <strong>LinkedIn</strong></span>
            <p>You can share your Course Certificates in the Certifications section of your LinkedIn profile, on printed resumes, CVs, or other documents.</p>
        </div>
        <div class="cert-img">
            <img src="img/cert.jpg" alt="Not Available">
        </div>
    </section>

    <section id="course-section5">
        <h1 class="font6">Frequently Asked Questions</h1>
        <div class="faq font5">
            <ul>
                <li >
                   <div class="faq-div" onclick="faqFunction1()">
                        <div class="dropdown-faq">
                            <img src="img/arrow.png">
                            <p>When will I have access to the lectures and assignments?</p>
                        </div>
                        <div id="faqDropdown1" class="faq-content font5">
                            Access to lectures and assignments depends on your type of enrollment. If you take a course in audit mode, you will be able to see most course materials for free. To access graded assignments and to earn a Certificate, you will need to purchase the Certificate experience, during or after your audit. If you don't see the audit option.
                        </div>
                   </div>
                </li>
                <li >
                   <div class="faq-div" onclick="faqFunction2()">
                        <div class="dropdown-faq">
                            <img src="img/arrow.png">
                            <p>What will I get if I purchase the Certificate?</p>
                        </div>
                        <div id="faqDropdown2" class="faq-content font5">
                            When you enroll in the course, you get access to all of the courses in the Certificate, and you earn a certificate when you complete the work. Your electronic Certificate will be added to your Accomplishments page - from there, you can print your Certificate or add it to your LinkedIn profile.  If you only want to read and view the course content, you can audit the course for free.
                        </div>
                   </div>
                </li>
                <li >
                   <div class="faq-div" onclick="faqFunction3()">
                        <div class="dropdown-faq">
                            <img src="img/arrow.png">
                            <p>Is financial aid available?</p>
                        </div>
                        <div id="faqDropdown3" class="faq-content font5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis optio et vitae non architecto aliquam dolorem iusto ratione est quae, fugit, ipsum distinctio autem nihil pariatur quidem culpa beatae impedit, repellat veritatis! Quae similique harum, exercitationem consequatur blanditiis aliquam excepturi temporibus, sapiente corporis ab deleniti at cum voluptatum nihil nemo.
                        </div>
                   </div>
                </li>
            </ul>
        </div>
    </section>






    <!-- FOOTER -->
    <%- include('footer'); -%>

    <!-- SCRIPT LINK -->
    <script src="js/courses.js"></script>
</body>

</html>
