<!DOCTYPE html>
<html>
<head>
        <title> Annual Events </title>
        <meta charset="utf-8" />
        <meta name="viewpoint" content="width=device-width intial-scale=1 shrink-to-fit=no" />
        <link rel="icon" href="fav.ico" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="css/annual.css">
        <!-- <script src="//code.jquery.com/jquery-3.2.1.min.js"></script> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" /> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@200&family=Ubuntu&display=swap" rel="stylesheet">

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
      <!-- <header id="header">
        <div class="lo">
            <img src="https://www.cdac.in/index.aspx?id=img_cdac-logo">
        </div>
        <span class="right font1">CDAC in North East (CNE)</span>
      </header> -->
       <!-- NAVIGATION BAR -->
       <!-- <nav id="navbar">
        <div id="navbar-items">
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/about">About us</a></li>
                <li class="item dropdown"><a href="#">Adminstration</a>
                  <div class="dropdown-content">
                    <a href="#">Head of Organisation</a>
                    <a href="#">Head of Department</a>
                    <a href="#">Project Head</a>
                    <a href="#">Project Engineer</a>
                    <a href="#">Students</a>
                </div>
                </li>
                <li class="item"><a href="#">Internships</a></li>
                <li class="item"><a href="#">Courses</a></li>
                <li class="item"><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav> -->
    <%- include('header'); -%>
    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>



    <div class="container">
        <h1>Annual Events/ Activities</h1>

        <h3>CDAC in North East (CNE)</h3>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Independence day 2021</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Republic day 2021</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Independence day</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Independence day</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Independence day</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Independence day</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=mBYnwWmyVQA&t=2s&amp;autoplay=1"><img src="img/download.jpg"></a>
                    <h4 style="text-align:center ;">Independence day</h4>
                </div>
            </div>

        </div>
    </div>






     <!-- FOOTER -->
    <footer id="footer">
      <div class="contact-logo">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
      </div>
      <div class="other-links">
          <p class="presskit-links font1">
              <a href="#" class="copyrights font1">Website Policies</a>
              <span class="copyrights">|</span>
              <a href="#" class="copyrights font1">Copyright Policy</a>
              <span class="copyrights">|</span>
              <a href="#" class="copyrights font1">Terms &amp; Conditions </a>
              <span class="copyrights">|</span>
              <a href="#" class="copyrights font1">Help</a>
              <span class="copyrights font1">|</span>
              <span class="copyrights font1">© 2022</span>
              <span class="copyrights font1"> C-DAC. All rights reserved</span>
              <span class="copyrights font1">|</span>
              <span id="LastUpdated" class="copyrights font1">Last Updated: Tuesday,&nbsp; June 07, 2022</span>
              <br>
              Website owned &amp; maintained by: Centre for Development of Advanced Computing (C-DAC)
          </p>
      </div>
  </footer>

    </body>
</html>
