<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director General C-DAC</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="css/about.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- HEADER -->
    <%- include('header'); -%>

    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>
    
    <!-- SECTION-1 -->
    <section id="sec-1" style="margin: 0;">
        
        <h1 style="text-align:center ;" >Center Head, C-DAC Silchar</h1>
        <img style="height:30%; width:30%; display: block; margin-left: auto; margin-right: auto;" src="img\Jitesh.jpg" alt="Director General C-DAC">
         
        <p id="p1" class="para">
            A committed and focused executive with comprehensive knowledge and understanding of product design,
            development, and project management. Presently working as, the Director in Centre for Development of
            Advanced Computing (C-DAC, a Govt. of India R&D Organization) and heading its C-DAC Silchar Centre. 
        </p>
            
         <p id="p1" class="para">
            Experienced Product Manager with a demonstrated history of working in Electronic Product development and
            Project Management. Skilled in Project Management, Product Management, Electronics Engineering, Embedded
            Systems(microcontrollers), Product development, Electronics Hardware Design, Firmware development, and
            Machine learning. Over 15 years of experience in electronics product design and development, project planning & execution for
            the entire product lifecycle, including systems design, requirement gathering, scheduling, budgeting, and
            commissioning.   
        </p>

             
        

        <p id="p1" class="para">
            Developed many diversified and innovative radiation monitoring products for Nuclear Power Plants,
            Reprocessing Plants, and Defence Establishment. All these products, typically electronic products and
            developed with proprietary technologies; meet the customized requirements of Indian nuclear establishments.
            These products are developed with standards like IEC and ANSI to achieve quality. Indigenous products were
            also developed to retrofit imported instruments for these plants. Has skill to bring people together and work towards common goals. Technical knowledge and experience in
            successfully leading teams and managing projects led to work as a driven technical project manager for the
            past many years.
        </p> 

        <div style="margin-left: 30px ;">
            <h3>Jitesh Choudhary</h3> 
            <h4>Center Head, C-DAC Silchar</h4>
        </div>
        
    </section>
    
    <!-- SECTION - 2 -->
    <!-- <section id="sec-2">
        <div class="sec-box">
            <span class="heading">Vision</span>
            <p class="box-para">
                To emerge as the premier R&D institution for the design, development and deployment of world class electronic and IT solutions for economic and human advancement.
            </p>
        </div>
        
    </section> -->

    
    <!-- FOOTER -->
    <%- include('footer'); -%>

    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>

</body>

</html>
