<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
        <title> Contact us</title>
        <meta charset="utf-8" />
        <meta name="viewpoint" content="width=device-width intial-scale=1 shrink-to-fit=no" />
        <!-- Icon Link -->
        <link rel="icon" href="fav.ico" />

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   
        <link rel="stylesheet" href="/css/style.css">
        

         <!-- Font styles -->
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- <script async src="https://www.google.com/recaptcha/api.js"></script> -->
        
      </head>
<body>

    <%- include('header'); -%>
    <%- include('navbar'); -%>



    <iframe style="margin-top: 20px; display:block; margin-left: auto; margin-right: auto;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.0696146099604!2d92.78855791500077!3d24.758802184102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e49c2683c9f95%3A0x9698a07544a4b227!2sC-DAC%20Silchar!5e0!3m2!1sen!2sin!4v1657572233213!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    <!-- <a href="https://www.google.com/maps/place/C-DAC+Silchar/@24.7588071,92.7885525,625m/data=!3m2!1e3!4b1!4m5!3m4!1s0x374e49c2683c9f95:0x9698a07544a4b227!8m2!3d24.7588406!4d92.7912675" target="_blank"  rel="noreferrer">
        <img src="img/map.png" class="co1" style="margin-top: 20px; display:block; width:50%; height:50%; margin-left: auto; margin-right: auto;" alt="Map"></img>
      </a> -->
      <br>
      
    <form name="myForm" id="contact" action="/contact" class="forms" method="POST">

        <h2 style="text-align: center;">CONTACT US</h2> <br>
        <% if(currentUser) { %>
          <label class="sr-only" style="display: none;">First Name</label>
          <input name="username" type="username" id="username" class="inputs" placeholder="Username*" required="" autofocus="">
        <% } %>
        <!-- <label class="required" class="sr-only">First Name</label> -->
        <input name="firstname" type="username" id="username" class="inputs" placeholder="Username*" required="" autofocus="">
        <!-- <label class="required" for="inputEmail" class="sr-only">Last Name</label> -->
        <input name="lastname" type="username" id="username" class="inputs" placeholder="Last Name*" required="true" autofocus="">
        <!-- <label class="required" for="inputEmail" class="sr-only">Email address</label> -->
        <input type="email" id="inputEmail" name="email" class="inputs" placeholder="Email address*" required="true" autofocus="">
        <!-- <label class="required" class="sr-only">Message</label> -->
        <textarea name="message" type="username" id="username" class="inputs" placeholder="Your Message*" required="true" autofocus="" cols="30" rows="5"></textarea>

        <!-- <br> -->

        <div class="submit-btn">

            <input type="submit" value="Send Message" class="submitbtn">
        </div>
   </form>
<div style="text-align:center ;">
    <button openpopup="#popUpA" class="btn btn--primary" style="text-align: center; margin: 2px; width: 155px;" >
        <a href="tel:+91 7032487794"><i class="fa fa-phone">Call</i></a>
    </button>

    <button class="btn btn-info " style="text-align: center; margin: 2px; width: 155px;">
        <a href="mailto:rituk@cdac.com"><i class="fa fa-envelope">Mail</i></a>
    </button>

</div>
   <br>

   <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
   <script>
     $(document).ready(function() {
       $('#contact').submit(function() {
         $(this).ajaxSubmit({
           error: function(xhr) {
             console.log(xhr);
             status('Error: ' + xhr.status);
           },
          success: function(response) {
           console.log(response);
          }
         });
         return true;
       });
     });
   </script> -->

    <!-- FOOTER -->
    <%- include('footer'); -%>

    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>

    <style>
    .required:after {
          content:" *";
          color: red;
        }
      
    .alert {
      /* padding: 20px;
      background-color: #f44336; /* Red */
      /* color: white; */
      /* margin-bottom: 15px; */
      padding: 5px;
      /* background-color: #0bff00; */
      color: black;
      }

      /* The close button */
      .closebtn {
      margin-left: 15px;
      color: black;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      }

      /* When moving the mouse over the close button */
      .closebtn:hover {
      color: black;
      }
    </style>
    </body>
</html>
