<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/courses.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@200&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- HEADER -->
    <%- include('header'); -%>


    <!-- NAVIGATION BAR -->
    <nav id="navbar">
        <div id="navbar-items">
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/internships">Internships</a></li>
                <li class="item dropdown"><a href="#">Adminstration</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="item dropdown"><a href="#">Important Links</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="item"><a href="/about">About us</a></li>
                <li class="item"><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div id="navbar-right">

            <form class="search-bar" role="search">
                <input class="form-control font2" type="search" placeholder="Search.." aria-label="Search">
                <button class="btn-primary font2" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>


    <div class="container">
      <% if(currentUser) { %>
        <aside id="aside">
            <ul class="aside-list">
              <% if(currentUser.usertype == "faculty") { %>
                <li class="aside-item"><a href="/facultyDash" class="font6"><div>View/ Update Profile</div></a></li>
              <% } %>
              <% if(currentUser.usertype == "student") { %>
                <li class="aside-item"><a href="/dash_index" class="font6"><div>View/ Update Profile</div></a></li>
              <% } %>
                <li class="aside-item"><a href="/courses" class="font6"><div>Courses</div></a></li>
                <% if(currentUser.usertype == "faculty") { %>
                  <li class="aside-item active"><a href="/course-upload" class="font6"><div>Add a course</div></a></li>
                <% } %>
                <% if(currentUser.usertype == "faculty") { %>
                    <li class="aside-item"><a href="/offered_courses" class="font6"><div>Courses Offered</div></a></li>
                <% } else if(currentUser.usertype == "student") { %>
                  <li class="aside-item"><a href="/enrolled_course" class="font6"><div>Courses Enrolled</div></a></li>
                <% } %>
                <% if(currentUser.usertype == "student") { %>
                <li class="aside-item"><a href="/upload-id" class="font6"><div>Upload your Institute ID Card</div></a></li>
                
                  <li class="aside-item"><a href="/view-ids" class="font6"><div>View Institute ID Card</div></a></li>
                <% } %>
                <li class="aside-item"><a href="#" class="font6"><div>Download Certificate</div></a></li>
                <li class="aside-item"><a href="/change-password" class="font6"><div>Change Password</div></a></li>
            </ul>
        </aside>
      <% } %>

      <section id="course-section" class="coursesection">
        <div class="section-bar">
            <strong class="font3">Welcome <%= currentUser.firstname %>!</strong>
            <div class="logout"><a href="/logout"><button class="btn-secondary logout-btn">Logout</button></a></div>
        </div>
        <div class="courses-list" style="height: fit-content;">
        <form action="/course-upload" method="POST">

          <label for="cname">Course Name</label>
          <input type="text" id="fname" name="name" placeholder="Course Name">

          <label for="description">About Course</label>
          <textarea type="text" id="lname" name="description" placeholder="About Course"></textarea>

          <label for="syllabus">Syllabus - What you will learn from this Course</label>
          <textarea type="text" id="lname" name="syllabus" placeholder="What you will learn from this Course"></textarea>

          <label for="duration">Course duration</label>
          <input type="text" id="lname" name="duration" placeholder="Course duration">

          <label for="instructor_name">Instructor's Name</label>
          <input type="text" id="lname" name="instructor_name" placeholder="Instructor's Name">

          <label for="syllabus">Instructor's Designation</label>
          <input type="text" id="lname" name="instructor_designation" placeholder="Instructor's Designation">

          <label for="syllabus">Instructor's College</label>
          <input type="text" id="lname" name="instructor_college" placeholder="Instructor's College">

          <!-- <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea> -->
          <input type="submit" value="Submit" style="width: 80px; padding: 0.5em; background-color: #3e7fe1;" class="btn btn-primary">

        </div>
        </form>
      </section>

      </div>
<style media="screen">
  input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
</style>

</body>

</html>
