  <!-- FOOTER -->
  <footer id="footer">
    <div class="contact-logo">
        <a href="https://www.facebook.com/CDACINDIA/" class="fa fa-facebook"></a>
        <a href="https://www.linkedin.com/company/cdac?originalSubdomain=in" class="fa fa-linkedin"></a>
        <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="other-links">
        <p class="presskit-links font1">
            <a href="#" class="copyrights">Website Policies</a>
            <span class="copyrights">|</span>
            <a href="#" class="copyrights">Copyright Policy</a>
            <span class="copyrights">|</span>
            <a href="#" class="copyrights">Terms &amp; Conditions </a>
            <span class="copyrights">|</span>
            <a href="#" class="copyrights">Help</a>
            <span class="copyrights">|</span>
            <span class="copyrights">© 2022</span>
            <span class="copyrights"> C-DAC. All rights reserved</span>
            <span class="copyrights">|</span>
            <span id="LastUpdated" class="copyrights">Last Updated: Tuesday,&nbsp; June 07, 2022</span>
            <br>
            Website owned &amp; maintained by: Centre for Development of Advanced Computing (C-DAC)
        </p>
    </div>
</footer>