<header id="header">
    <div class="logo">
        <img src="https://www.cdac.in/index.aspx?id=img_cdac-logo">
    </div>
    <span class="right font1">Branch : CINE (CDAC in North-East), Silchar</span>
  </header>