<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDAC Silchar</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Font styles -->
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Bhai+2:wght@600&family=Dancing+Script:wght@500&family=Lobster&family=Permanent+Marker&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Glyphicon Icons -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
</head>

<body>
    <!-- HEADER -->
    <header id="header">
        <div class="logo">
            <img src="https://www.cdac.in/index.aspx?id=img_cdac-logo">
        </div>
        <span class="right font2">Branch : Silchar</span>
    </header>


    <!-- NAVIGATION BAR -->
    <nav id="navbar">
        <div id="navbar-items">
            <ul>
                <li class="item"><a href="#" class="active">Home</a></li>
                <li class="item"><a href="#">About us</a></li>
                <li class="item dropdown"><a href="#">Adminstration</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="item"><a href="#">Internships</a></li>
                <li class="item dropdown"><a href="#">Important Links</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="item"><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div id="navbar-right">
            <div class="navbar-login">
                <button class="btn-secondary font2" type="button" onclick="document.location.href='/login';">Login</button>
                <button class="btn-secondary font2" type="button" onclick="document.location.href='/signup';">Sign Up</button>
            </div>
            <form class="search-bar" role="search">
                <input class="form-control font2 type=" search" placeholder="Search.." aria-label="Search">
                <button class="btn-primary font2" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>


    <!-- SECTION-1-->
    <section id="section">
        <div class="section-left">
            <div class="list-head font2">Educaton &amp; Training</div>
            <div class="list">
                <ul>
                    <hr>
                    <li class="list-item"><a href="#">Link1</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link2</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link3</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link4</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link5</a></li>
                    <hr>
                </ul>
            </div>
            <div class="list-head font2">Courses</div>
            <div class="list">
                <ul>
                    <hr>
                    <li class="list-item"><a href="#">Link1</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link2</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link3</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link4</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link5</a></li>
                    <hr>
                </ul>
            </div>
            <div class="list-head font2">Opportunities</div>
            <div class="list">
                <ul>
                    <hr>
                    <li class="list-item"><a href="#">Link1</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link2</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link3</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link4</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link5</a></li>
                    <hr>
                </ul>
            </div>
            <div class="list-head font2">Tender</div>
            <div class="list">
                <ul>
                    <hr>
                    <li class="list-item"><a href="#">Link1</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link2</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link3</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link4</a></li>
                    <hr>
                    <li class="list-item"><a href="#">Link5</a></li>
                    <hr>
                </ul>
            </div>
        </div>

        <div class="section-mid">
            <div class="bg fade">
                <img src="img/bg1.jpg" style="width:100%">
            </div>

            <div class="bg fade">
                <img src="img/bg2.jpg" style="width:100%">
            </div>

            <div class="bg fade">
                <img src="img/bg3.jpg" style="width:100%">
            </div>

            <div style="text-align:center" class="dots-div">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="section-right">
            <div class="section-right-head font2">Latest Updates</div>
            <hr>
            <div class="section-right-content">
                <ul>
                    <li class="content"><a href="#" class="font1"> EOI for reselling of Product Suite for Efficient Screening of
                            Cervical Cancer</a></li>
                    <hr>
                    <li class="content"><a href="#" class="font1"> Corrigendum on EOI for manufacture of MRI from Indian
                            Industries</a></li>
                    <hr>
                    <li class="content"><a href="#" class="font1"> RFP for Transfer of Technology and Licensing of C-DAC TETRA NETWORK
                            Product Portfolio</a></li>
                    <hr>
                    <li class="content"><a href="#" class="font1"> Expression of Interest (EoI) for Transfer of Technology and
                            Licensing of C-DAC's RISC-V ISA Compliant PARAMETRIZED POSIT ARITHMETIC UNIT IP CORE</a>
                    </li>
                    <hr>
                    <li class="content"><a href="#" class="font1"> Expression of Interest (EoI) for Transfer of Technology and
                            Licensing of C-DAC's RISC-V ISA Compliant FLOATING-POINT ARITHMETIC UNIT (LITE) IP CORE</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- SECTION-2 -->
    <section id="section-2">
        <div class="more-about">
            <div class="more-about-box">
                <h4> <span class="glyphicon glyphicon-facetime-video"></span><a href="#" class="font2"> Video
                        Gallery</a> </h4>
            </div>
            <div class="more-about-box">
                <h4><span class="glyphicon glyphicon-cog"></span><a href="#" class="font2"> Events &amp; Conferences</a>
                </h4>
            </div>
            <div class="more-about-box">
                <h4><span class="glyphicon glyphicon-star-empty"></span><a href="#" class="font2"> Awards &amp;
                        Accolades</a></h4>
            </div>
            <div class="more-about-box">
                <h4><span class="glyphicon glyphicon-flag"></span><a href="#" class="font2"> C-DAC's Achievements</a>
                </h4>
            </div>
        </div>
    </section>


    <!-- SECTION-3 -->
    <section id="section-3">
        <h1 class="font2">Contact Us </h1>
        <h3 class="font2">Have Some Questions ? </h3>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <input type="text" name="firstname" id="firstname" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="text" name="email" id="email" placeholder="What's your email ?">
                </div>
                <div class="form-group">
                    <textarea name="mytext" rows="5" id="des" placeholder="Your question"></textarea>
                </div>
                <div class="form-group">
                    <button class="font1">Send Message</button>
                </div>
            </form>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer">
        <div class="contact-logo">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
        <div class="other-links">
            <p class="presskit-links font1">
                <a href="#" class="copyrights font1">Website Policies</a>
                <span class="copyrights">|</span>
                <a href="#" class="copyrights font1">Copyright Policy</a>
                <span class="copyrights">|</span>
                <a href="#" class="copyrights font1">Terms &amp; Conditions </a>
                <span class="copyrights">|</span>
                <a href="#" class="copyrights font1">Help</a>
                <span class="copyrights font1">|</span>
                <span class="copyrights font1">© 2022</span>
                <span class="copyrights font1"> C-DAC. All rights reserved</span>
                <span class="copyrights font1">|</span>
                <span id="LastUpdated" class="copyrights font1">Last Updated: Tuesday,&nbsp; June 07, 2022</span>
                <br>
                Website owned &amp; maintained by: Centre for Development of Advanced Computing (C-DAC)
            </p>
        </div>
    </footer>


    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>
</body>

</html>
