<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internships</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/intern.css">

    <!-- Font styles -->
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- HEADER -->
<%- include('header'); -%>


<!-- NAVIGATION BAR -->
<%- include('navbar'); -%>

    <!-- heading -->
    <div id="heading">
        <h1>Online Internships we offer</h1>
    </div>

    <!-- internship Section -->
    <div id="int-container">
        <div class="card">
            <div class="card-img">
                <img src="img/web-D.png" alt="Web Development">
            </div>
            <div class="meta-data">
                <h3>Web Development</h3>
                <p class="course-caption">Learn how to create a website from scratch</p>
            </div>
            <div class="enroll">
                <span>Duration: 8 weeks</span>
                <a href="/enroll"><button class="btn">Enroll Now</button></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="img/ml.png" alt="Machine Learning">
            </div>
            <div class="meta-data">
                <h3>Machine Learning</h3>
                <p class="course-caption">Learn Machine Learning from scratch and take the first step towards AI</p>
            </div>
            <div class="enroll">
                <span>Duration: 8 weeks</span>
                <a href="/enroll"><button class="btn">Enroll Now</button></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="img/dl.png" alt="Deep Learning">
            </div>
            <div class="meta-data">
                <h3>Deep Learning</h3>
                <p class="course-caption">Learn about different neural networks and develop futuristic applications!</p>
            </div>
            <div class="enroll">
                <span>Duration: 6 weeks</span>
                <a href="/enroll"><button class="btn">Enroll Now</button></a>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="img/py.png" alt="Programming with Python">
            </div>
            <div class="meta-data">
                <h3>Programming with Python</h3>
                <p class="course-caption">Build a fantasy cricket game using Python language</p>
            </div>
            <div class="enroll">
                <span>Duration: 6 weeks</span>
                <a href="/enroll"><button class="btn">Enroll Now</button></a>
            </div>
        </div>
    </div>


     <!-- FOOTER -->
     <%- include('footer'); -%>


    <!-- SCRIPT LINK -->
    <script src="intern.js"></script>


</body>

</html>
