<nav id="navbar">
    <div id="navbar-items">
        <ul>
            <li class="item"><a href="/" class="active">Home</a></li>
            <li class="item"><a href="/about">About us</a></li>
            <li class="item dropdown"><a href="#">Adminstration</a>
              <div class="dropdown-content">
                <a href="/directorgeneral">Director General</a>
                <a href="/centerhead">Center Head</a>
                <a href="#">Public Grivience Ofcr</a>
                <a href="#">Technical Staff</a>
                <a href="#">Non-Technical Staff</a>
            </div>
            </li>
            <li class="item"><a href="/internships">Internships</a></li>
            <li class="item"><a href="/courses">Courses</a></li>
            <li class="item"><a href="/contact">Contact Us</a></li>
        </ul>
    </div>


    <div id="navbar-right">
      <% if(!currentUser) { %>
        <div class="navbar-login">
            <button class="btn-secondary dropbtn font2" onclick="dropdownbtn()"  type="button">Login</button>
            <div id="myDropdown" class="dropdown-cnt">
                <a href="/login" onclick="document.location.href='/login';">As Student</a>
                <a href="/faculty-login">As Co-ordinator</a>
              </div>
            <button class="btn-secondary dropbtn font2" onclick="document.location.href='/signup';" type="button">Sign Up</button>
        </div>
      <% } else { %>
        <div style="text-decoration: none; font-family: 'Ubuntu', sans-serif; color: darkgreen; padding: 7px 9px; font-size: medium;" class="navbar-login">
            <a style="text-decoration: none; color: darkgreen;" href="/dash_index">Logged in as <%= currentUser.username %></a>
        </div>
      <% } %>
        <form class="search-bar" role="search">
            <input class="form-control font2" type="search" placeholder="Search.." aria-label="Search">
            <button class="btn-primary font2" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</nav>


<% if(error && error.length>0) { %>
  <div class="alert" style="background-color: red;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <div style="font-size: larger;" class="alert alert-danger" role="alert">
        <p style="text-align: center;"><%= error %></p>
    </div>
  </div>
<% } %>
<% if(success && success.length>0) { %>
  <div class="alert" style="background-color: #0bff00;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <div style="font-size: larger;" class="alert alert-danger" role="alert">
        <p style="text-align: center;"><%= success %></p>
    </div>
  </div>
<% } %>