<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGO</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/codepen.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    

    <!-- HEADER -->
    <%- include('header'); -%>

    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>

    <!-- SECTION-1 -->
    <section id="sec-1">
        
        <h1 style="text-align:center ;"><b> Public Grievence Officer</b></h1>
        <hr style="width:100% ;">
        <div>
            <div class="wrapper">
                <div class="pic">
                    <img src="https://i1.rgstatic.net/ii/profile.image/272379490336809-1441951739748_Q128/Yumnam-Kirani.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Dr. Y. Kirani Singh
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Public Grievence Officer </li>
                        <li>Email ID: yumnam.singh@cdac.in </li>
                        <li>LinkedIn: <a href="https://www.linkedin.com/in/yumnam-kirani-singh-32920229">Click Here</a></li>

                    </ul>
                </div>
                
                <!-- <a href="#_">
                  <div class="button-center">
                    <div class="leesmeer"><b>Lees meer </b> <i class="fas fa-angle-right"></i></div>
                  </div>
                </a> -->
            </div>
            
            
            
            
        </div>
        
        
    </section>
    
  

    
    <!-- FOOTER -->
    <%- include('footer'); -%>

    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>
<!-- SCRIPT LINK -->
<script src="js/script.js"></script>

<style>
.alert {
  /* padding: 20px;
  background-color: #f44336; /* Red */
  /* color: white; */
  /* margin-bottom: 15px; */
  padding: 5px;
  /* background-color: #0bff00; */
  color: black;
  }

  /* The close button */
  .closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
  color: black;
  }
</style>
</body>

</html>
