<nav id="sidebar" class="main-menu">
  <div class="sidebar-header">
    <h2 style="font-size: 37px;"> <b>CDAC CINE</b> </h2>
    <!-- <b style="margin-left: 10px; margin-right: 5px;">Today is:</b> -->
    <b style="font-size: 16px; margin-left: 6px;" id="ct7">
      <script>function display_ct7() {
        var x = new Date()
        var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
        hours = x.getHours( ) % 12;
        hours = hours ? hours : 12;
        hours=hours.toString().length==1? 0+hours.toString() : hours;

        var minutes=x.getMinutes().toString()
        minutes=minutes.length==1 ? 0+minutes : minutes;

        var seconds=x.getSeconds().toString()
        seconds=seconds.length==1 ? 0+seconds : seconds;

        var month=(x.getMonth() +1).toString();
        month=month.length==1 ? 0+month : month;

        var dt=x.getDate().toString();
        dt=dt.length==1 ? 0+dt : dt;

        var x1=dt + "/" + month + "/" + x.getFullYear();
        x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
        document.getElementById('ct7').innerHTML = x1;
        display_c7();
         }
         function display_c7(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct7()',refresh)
        }
        display_c7()
        </script>
      <!-- <script type="text/javascript">
        var clockElement = document.getElementById('clock');

        function clock() {
            clockElement.textContent = new Date().toString();
        }

        setInterval(clock, 1000);
    </script> -->
      <!-- <script id="current_date" style="margin-left: 5x; display: inline; color: antiquewhite;" align="right" >
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
        </script> -->
    </b>

  </div>

  <ul class="list-unstyled components">
    <!-- <p>Dashboard</p> -->
    <li class="active">
      <h5 style="margin:10px ;"><a href="/adminDash"> Dashboard</a></h5>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Navigation</a>

      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="/add">Add a New Faculty</a>
        </li>
        <!-- <li>
          <a href="/view">View Faculties</a>
        </li> -->
        <li>
          <a href="/latestUpdates">Add latest updates</a>
        </li>

        <li>
          <a href="/addprogram">Add a program</a>
        </li>
        <li>
          <a href="/addEvent">Add a New Event</a>
        </li>
        <li>
          <a href="/addJob">Post a New Job</a>
        </li>
        <li>
          <a href="/addInternship">Add a new Internship</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="/view">View Faculties</a>
        </li>
        <li>
          <a href="/students">View Students</a>
        </li>
        <li>
          <a href="/viewjobs">View Jobs</a>
        </li>
        <li>
          <a href="/viewprograms">View Programs</a>
        </li>
        <li>
          <a href="/viewevents">View Events</a>
        </li>
        <li>
          <a href="/viewupdates">View Updates</a>
        </li>
        <li>
          <a href="/viewapplications">View Intern Applications</a>
        </li>
        <li>
          <a href="/viewguestfaculty">View Guest Faculty Applications</a>
        </li>

      </ul>
    </li>
    <li>
      <a href="/adminDash">To Do List</a>
    </li>
    <li>
      <a href="/adminDash">Calender</a>
    </li>
    <li>
      <a href="#">Admin Features</a>
    </li>
    <li>
      <a href="/changeadminpassword">Change Password</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>

</nav>
<style>
  .main-menu{
    overflow-y: scroll;
  }

  ::-webkit-scrollbar{
    width: 5px;
  }

  ::-webkit-scrollbar-track{
    background: transparent !important;
  }

  ::-webkit-scrollbar-thumb{
    background: #bbbbbb;
    border-radius: 10px;
  }

</style>
