<nav id="sidebar">
  <div class="sidebar-header">
    <h3>CDAC Silchar</h3>

  </div>

  <ul class="list-unstyled components">
    <!-- <p>Dashboard</p> -->
    <li class="active">
      <h5 style="margin:10px ;"><a href="/adminDash"> Dashboard</a></h5>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Navigation</a>

      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="/add">Add a New Faculty</a>
        </li>
        <!-- <li>
          <a href="/view">View Faculties</a>
        </li> -->
        <li>
          <a href="/latestUpdates">Add latest updates</a>
        </li>
        <li>
          <a href="/addachievement">Add an achievement</a>
        </li>
        <li>
          <a href="/addprogram">Add a program</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="/view">View Faculties</a>
        </li>
        <li>
          <a href="/students">View Students</a>
        </li>

      </ul>
    </li>
    <li>
      <a href="#">To Do List</a>
    </li>
    <li>
      <a href="#">Calender</a>
    </li>
    <li>
      <a href="#">Learn More</a>
    </li>
    <li>
      <a href="/changeadminpassword">Change Password</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>

</nav>
