<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- CSS Link -->
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Font styles -->
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Bhai+2:wght@600&family=Dancing+Script:wght@500&family=Lobster&family=Permanent+Marker&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Glyphicon Icons -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
</head>

<body>
    <!-- HEADER -->
    <header id="header">
        <div class="logo">
            <img src="https://www.cdac.in/index.aspx?id=img_cdac-logo">
        </div>
        <span class="right font2">Branch : Silchar</span>
    </header>


    <!-- NAVIGATION BAR -->
    <nav id="navbar">
        <div id="navbar-items">
            <ul>
                <li class="item"><a href="/" class="active">Home</a></li>
                <li class="item"><a href="/about">About us</a></li>
                <li class="item dropdown"><a href="#">Adminstration</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="item"><a href="#">Internships</a></li>
                <li class="item dropdown"><a href="#">Important Links</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="item"><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div id="navbar-right">
          <% if(!currentUser) { %>
            <div class="navbar-login">
                <button class="btn-secondary dropbtn font2" onclick="dropdownbtn()"  type="button">Login</button>
                <div id="myDropdown" class="dropdown-cnt">
                    <a href="/login" onclick="document.location.href='/login';">As Student</a>
                    <a href="/login">As Co-ordinator</a>
                  </div>
                <button class="btn-secondary dropbtn font2" onclick="dropdownbtn2()"  type="button">Sign Up</button>
                <div id="myDropdown2" class="dropdown-cnt">
                    <a href="/signup" onclick="document.location.href='/signup';">For Student</a>
                    <!-- <a href="/login">For Co-ordinator</a> -->
                  </div>
            </div>
          <% } else { %>
            <div style="text-decoration: none; font-family: 'Ubuntu', sans-serif; color: darkgreen; padding: 7px 9px; font-size: medium;" class="navbar-login">
                <a style="text-decoration: none; color: darkgreen;" href="/dash_index">Logged in as <%= currentUser.username %></a>
            </div>
          <% } %>
            <form class="search-bar" role="search">
                <input class="form-control font2" type="search" placeholder="Search.." aria-label="Search">
                <button class="btn-primary font2" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

    <% if(error && error.length>0) { %>
      <div class="alert" style="background-color: red;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div style="font-size: larger;" class="alert alert-danger" role="alert">
            <p style="text-align: center;"><%= error %></p>
        </div>
      </div>
    <% } %>
    <% if(success && success.length>0) { %>
      <div class="alert" style="background-color: #0bff00;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div style="font-size: larger;" class="alert alert-danger" role="alert">
            <p style="text-align: center;"><%= success %></p>
        </div>
      </div>
    <% } %>

    <form class="forms" action="/signup" method="POST">
      <img class="loginImg" src="img/Login.png" alt="" width="80" height="80">
      <h2 style="text-align: center;">Please Sign Up</h2> <br>
      <label for="inputEmail" class="sr-only">First Name</label>
      <input type="text" id="inputText" class="inputs" name="firstname" placeholder="First Name" required="true" autofocus="">
      <label for="inputEmail" class="sr-only">Last Name</label>
      <input type="text" id="inputText" class="inputs" name="lastname" placeholder="Last Name" required="true" autofocus="">
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="inputText" class="inputs" name="username" placeholder="Username" required="true" autofocus="">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="inputs" placeholder="Email address" required="true" autofocus="">
      <label for="inputEmail" class="sr-only">Mobile No.</label>
      <input type="number" id="inputNumber" name="MobileNo" class="inputs" placeholder="Mobile No." required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" class="inputs" type="password" id="psw" name="psw" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      <div>
        <div>
            <div>
                <input type="submit" value="Sign Up" class="submitbtn">
            </div>
            <br>
        </div>
        <a class="links signUpNew" href="/login" target="_self">Existing User? Login</a>
        <br>
      </div>
    </form>

    <!-- FOOTER -->
    <footer id="footer">
        <div class="contact-logo">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
        <div class="other-links">
            <p class="presskit-links font1">
                <a href="#" class="copyrights font1">Website Policies</a>
                <span class="copyrights">|</span>
                <a href="#" class="copyrights font1">Copyright Policy</a>
                <span class="copyrights">|</span>
                <a href="#" class="copyrights font1">Terms &amp; Conditions </a>
                <span class="copyrights">|</span>
                <a href="#" class="copyrights font1">Help</a>
                <span class="copyrights font1">|</span>
                <span class="copyrights font1">© 2022</span>
                <span class="copyrights font1"> C-DAC. All rights reserved</span>
                <span class="copyrights font1">|</span>
                <span id="LastUpdated" class="copyrights font1">Last Updated: Tuesday,&nbsp; June 07, 2022</span>
                <br>
                Website owned &amp; maintained by: Centre for Development of Advanced Computing (C-DAC)
            </p>
        </div>
    </footer>


    <!-- SCRIPT LINK -->
    <script src="script.js"></script>
    <style>
    .alert {
      /* padding: 20px;
      background-color: #f44336; /* Red */
      /* color: white; */
      /* margin-bottom: 15px; */
      padding: 5px;
      /* background-color: #0bff00; */
      color: black;
      }

      /* The close button */
      .closebtn {
      margin-left: 15px;
      color: black;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      }

      /* When moving the mouse over the close button */
      .closebtn:hover {
      color: black;
      }
    </style>
</body>

</html>
