<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director General C-DAC</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/codepen.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    

    <!-- HEADER -->
    <%- include('header'); -%>

    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>

    <!-- SECTION-1 -->
    <section id="sec-1">
        
        <h1><b> E and T Department</b></h1>
        <hr style="width:50% ;">
        <div>
            <div class="wrapper">
                <div class="pic">
                    <img src="https://lh3.googleusercontent.com/U8gS32NKTsMVwrQsY377dnPzzEBqd_a2ccWKJdNsuifnnEMA36nyBBJ2fDvJuxsWNTy4frMiyGGb5HfLCwlUxWpRmhDJCPvdfR_f0Pfa2wqvDRjVLxrn-RiueZKml9Ufeg=w1280" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Dr.Ritu Kapur
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID:  dev.ritu.kapur@gmail.com</li>
                        <li>Website: <a href="https://sites.google.com/view/ritu-kapur">Click Here</a></li>

                    </ul>
                </div>
                
                <!-- <a href="#_">
                  <div class="button-center">
                    <div class="leesmeer"><b>Lees meer </b> <i class="fas fa-angle-right"></i></div>
                  </div>
                </a> -->
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/laskar.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Maqsud Amin Laskar
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="linkedin.com/in/moqsud-amin-72b8aa97">Click Here</a></li>

                    </ul>
                </div>
                <!-- <a href="#_">
                  <div class="button-center">
                    <div class="leesmeer"><b>Lees meer </b> <i class="fas fa-angle-right"></i></div>
                  </div>
                </a> -->
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.David Ray
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
                <!-- <a href="#_">
                  <div class="button-center">
                    <div class="leesmeer"><b>Lees meer </b> <i class="fas fa-angle-right"></i></div>
                  </div>
                </a> -->
            </div>
            
            
        </div>
        <h1><b>S and T Department</b> </h1>
        <hr style="width:50% ;">
        <div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/debashish.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Debashish Deb
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/angshuman.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Angshuman Sinha
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Support Staff </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/abhijit.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Abhijit Das
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Ms.Sapam Daina Devi
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Priyamvad Mishra
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Senior Technical Officer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/suraj.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Suraj Nath
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Shubhajit Dey
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/ratan.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr.Ratan Das
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/moriom.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Ms K A Moriom Sultana Laskar
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/chiranjit.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr Chiranjit Roy
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Project Engineer </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="pic">
                    <img src="/img/ranjan.jpg" alt="Italian Trulli">
                </div>
                <h3 class="header">
                    Mr Yengkhom Ranjan Singh
                </h3>
                <div>
                    <ul class="content">
                        <li>Designation: Joint Director </li>
                        <li>Contact No: +91- </li>
                        <li>Email ID: </li>
                        <li>LinkedIn: <a href="#">Click Here</a></li>

                    </ul>
                </div>
            </div>

        </div>  
        
    </section>
    
  

    
    <!-- FOOTER -->
    <%- include('footer'); -%>

    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>
<!-- SCRIPT LINK -->
<script src="js/script.js"></script>

<style>
.alert {
  /* padding: 20px;
  background-color: #f44336; /* Red */
  /* color: white; */
  /* margin-bottom: 15px; */
  padding: 5px;
  /* background-color: #0bff00; */
  color: black;
  }

  /* The close button */
  .closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
  color: black;
  }
</style>
</body>

</html>
