/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* *::-webkit-scrollbar {
    display: none;                 ***** TO REMOVE THE SCROLL BAR FROM SCREEN *****
} */

/* HEADER */
#header{
    background-color: 
    #05445E;
    display: flex;
    flex-direction: row;
    padding: 25px 30px;
    justify-content: space-between;
    align-items: center;
}
.right{
    color: whitesmoke;
}



/* NAVIGATION BAR */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #189AB4;
    /* margin-top: 1px; */
    /* border-top: 1px solid grey;
    border-bottom: 1px solid grey; */
}
#navbar-items{
    margin-left: 1rem;
}
#navbar-items ul{
    display: flex;
}
#navbar-items ul li{
    list-style: none;
    padding: 0.8rem 5px;
}
#navbar-items ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    padding: 5px 7px;
    font-size: 15px;
}
#navbar-items ul li a:hover{
    color:whitesmoke;
    background-color: cadetblue;
    border-radius: 3px;
}
#navbar-items ul li a.active{
    background-color: rgb(4, 114, 114);
    border-radius: 2px;
    color: whitesmoke;
}


.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #f5f7fa;
    border: 1px solid #e3e4e5;
    min-width: 170px;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation-name: anime1;
    animation-duration: 0.2s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes anime1{
    0%{
        height: 0%;
    }
    100%{
        height: 140px;
    }
}
.dropdown-content a{
    display: block;
    font-size: 8px;
}
#navbar-right{
    display: flex;
    margin-right: 2rem;
}
.navbar-login{
    margin: auto 10px;
}
.navbar-login button{
    padding: 5px 6px;
    margin: 4px 4px;
}


/* dropdown buttons */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: darkslategray;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-cnt {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width:90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-cnt a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
}
.dropdown-cnt a:hover {
    background-color: rgb(37, 157, 139);
    color: white;
}
.show {display: block;}


.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar input{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 2px;
    outline: none;
}

/* CONTAINER */
#container{
    display: flex;
    flex-direction: row;

}

/* SECTION1 */
.section1{
    height: 600px;
    width: 50%;
}


/* SECTION2 */
.section2{
    height: 600px;
    width: 50%;
}
.head h2{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Overpass', sans-serif;
    color: rgb(31, 31, 31);

}

.sec-content{
    border: #e3e4e5;
    margin: 1rem;
    border: 1px solid #e3e4e5;
    display: grid;
    grid-template-columns: repeat(2,auto);
    background-color: #f5f7fa;

}
.job-card{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 6px;
    height: 80px;
    width: 250px;
    margin: 1rem;
    background-color: lightgreen;
}
.job-card a:hover,.job-card:hover{
    background-color: mediumseagreen;
}
.job-card a{
    color: rgb(31, 31, 31);
    text-decoration: none;
    margin-left: 1rem ;
    font-family: 'Overpass', sans-serif;

}

/* FOOTER */
#footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    height: 105px;
    text-align: center;
    background-color:#f5f7fa;
    border-top: 1px solid gray;
}
.other-links{
    margin-top: 5px;
    color: rgb(31,31,31);
}
.presskit-links{
    font-size: 12px;
}
.presskit-links a{
    color: rgb(31,31,31);
    font-size: 12px;
}
.presskit-links a:hover{
    text-decoration: underline;
    color: #0062e4;
}
.copyrights{
    text-decoration: none;
    font-size: 12px;
}



/* *******************  Utility Classes  ******************** */

/* Fonts used */
.font1{
    font-family: 'Baloo Bhai 2', cursive;
}
.font2{
    font-family: 'Ubuntu', sans-serif;
}
.font3{
    font-family: 'Roboto Mono', monospace;
}
.font4{
    font-family: 'Overpass', sans-serif;
}
.font5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.font6{
    font-family: 'Open Sans', sans-serif;
}
.clr{
    color: rgb(31, 31, 31);
}

/* external social icons */
.fa {
    padding: 3px;
    width: 23px;
    text-align: center;
    text-decoration: none;
    margin: 10px 15px;
    border-radius: 2px;
}
.fa:hover{
    transform: scale(1.14);
    transition: all 0.3s;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #8a3ab9;
    color: white;
}
.fa-search{
    background-color: transparent;
    color: #007bb5;
    transform: scale(1.06);
    padding: 4px;
    margin: 2px 2px;
}


  /* Buttons */
  .btn-primary{
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}
.btn-primary:hover{
    transform: scale(1.08);
    transition: all 0.2s;
}
.btn-secondary{
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    color:whitesmoke;
    border: 0px solid white;
    background-color:darkslategray;
}
.btn-secondary:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: all 0.2s;
    color: white;
}





table {
    width: 90%;
	cursor: default;
	background-color: #fff;
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
	margin: 2rem auto 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
thead {
	font-family: "Roboto Slab", serif;
	border: 1px solid;
	background: #55ACEE;
}
thead th {
	background: #135281;
	color: #fff;
	line-height: 3rem;
	width: 13.75%;
	font-weight: 700;
}
thead th:first-child {
	text-align: left;
	padding: 0 10px;
	width: 58.75%;
}
tbody {
	line-height: 1.925;
	text-align: center;
	font-weight: 300;
}
tbody th {
	text-align: left;
	font-weight: 300;
	padding: 5px 10px;
}
tbody tr sup {
	font-size: 10px;
	line-height: 10px;
}
tbody th,
tbody tr td {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #c0c0c0;
}
tbody tr:last-child {
	border-bottom: 1px solid #c0c0c0;
}
.even,
tbody tr:nth-child(2n-1) {
	background: #eeece1;
}
tbody tr {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}




.dollars:before {
	content: "\f155 ";
	font-family: FontAwesome;
	padding: 0 3px;
	vertical-align: baseline;
	color: #333;
}
.dollars {
	font-size: 1rem;
	font-weight: 500;
}

@media only screen and (max-width: 768px),
	only screen and (max-device-width: 768px) {
	body {
		font-size: 14px;
	}
	tbody th,
	tbody td {
		padding: 10px;
		line-height: 1.333;
	}
	.check:after {
		font-size: 1rem;
	}
	.dollars {
		line-height: 1.333;
		font-size: 1.25rem;
		font-weight: 600;
	}
	.length,
	.amount {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	span[data-length]:before {
		content: attr(data-length);
	}
	span[data-amount]:before {
		content: attr(data-amount);
	}	
}

@media only screen and (max-width: 639px),
	only screen and (max-device-width: 639px) {
	tbody th,
	tbody td {
		padding: 10px 5px;
		line-height: 1.333;
	}
	tbody th[scope="row"] {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 479px),
	only screen and (max-device-width: 479px) {
	body {
		margin: 0;
		font-size: 13px;
	}
	table {
		top: 3.5rem;
		margin: 0 0 64px;
	}
	thead {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 1;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
		border-bottom: 1px solid #666;
	}
	th[scope="col"] {
		width: 21%;
	}
	th[scope="col"] {
		padding: 5px;
	}
	th[scope="col"]:first-child {
		padding: 5px 5px 5px 10px;
	}
	tbody td {
		width: 17%;
	}
	
}

.more {
    position: absolute;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 30px;
    padding: 0px 10px;
    background: #1BC74E;
    border: none;
    font: 14px 'Varela Round';
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }
  
  .more:after {
    content: '';
    display: none;
    position: absolute;
    
    width: 20px;
    height: 20px;
    border: solid 2px;
    border-color: #fff transparent transparent transparent;
    border-radius: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    animation: spin 1s infinite;
    transform-origin: 0 0;
  }
  
  .more.load {
    padding: 0px 0px;
    width: 40px;
    height: 40px;
  }
  
  .more.load span {
    opacity: 0;
  }
  
  .more.load:after {
    display: block;
  }
  
  @keyframes spin {
    from { transform: rotate(0) translate(-50%, -50%) }
    to { transform: rotate(360deg) translate(-50%, -50%) }
  }