/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* *::-webkit-scrollbar {
    display: none;                 ***** TO REMOVE THE SCROLL BAR FROM SCREEN *****
} */

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

/* HEADER */
#header{
    background-color: 
    #05445E;
    display: flex;
    flex-direction: row;
    padding: 25px 30px;
    justify-content: space-between;
    align-items: center;
}
.right{
    color: whitesmoke;
}



/* NAVIGATION BAR */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #189AB4;
    /* margin-top: 1px; */
    /* border-top: 1px solid grey;
    border-bottom: 1px solid grey; */
}
#navbar-items{
    margin-left: 1rem;
}
#navbar-items ul{
    display: flex;
}
#navbar-items ul li{
    list-style: none;
    padding: 0.8rem 0.8rem;
}
#navbar-items ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    padding: 5px 7px;
    font-size: 15px;
}
#navbar-items ul li a:hover{
    color:whitesmoke;
    background-color: cadetblue;
    border-radius: 3px;
}
#navbar-items ul li a.active{
    background-color: rgb(4, 114, 114);
    border-radius: 2px;
    color: whitesmoke;
}


.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #f5f7fa;
    border: 1px solid #e3e4e5;
    min-width: 170px;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation-name: anime1;
    animation-duration: 0.2s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes anime1{
    0%{
        height: 0%;
    }
    100%{
        height: 140px;
    }
}
.dropdown-content a{
    display: block;
    font-size: 8px;
}
#navbar-right{
    display: flex;
    margin-right: 2rem;
}
.navbar-login{
    margin: auto 20px;
}
.navbar-login button{
    padding: 5px 6px;
    margin: 4px 4px;
}


/* dropdown buttons */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: darkslategray;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-cnt {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width:90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-cnt a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
}
.dropdown-cnt a:hover {
    background-color: rgb(37, 157, 139);
    color: white;
}
.show {display: block;}


.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar input{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 2px;
    outline: none;
}


/* SECTION-1*/
#section{
    display: flex;
    justify-content: space-around;
    height: 450px;
    margin-top: 0.05rem;
}


/* SECTION- LEFT */
.section-left{
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    overflow: scroll;
    border-top: none;
}
.section-left::-webkit-scrollbar {
    display: none;
}
.list-head{
    padding: 6px 0px;
    background-color:
    #06638b;
    text-align: left;
}
.list-head span{
    color: whitesmoke;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 1rem;
}
.list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.list{
    background-color:aliceblue;

}
.list-item{
    padding: 3px 2px;
    border-bottom: 1px solid gray;
}
.list-item a{
    float: left;
    text-decoration: none;
    text-align: left;
    padding: 0px 20px;
    color: black;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}
.list-item a:hover{
    text-decoration: underline;
}


/* SECTION-MID */
.section-mid{
    height: 100%;
    width: 60%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.bg img{
    vertical-align: middle;
    height: 450px;
    z-index: 4;
    opacity: 0.9;
    padding: 0px 2px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}
.bg{
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.dots-div{
    z-index: 5;
    position: relative;
    bottom: 30px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot.active {
    background-color: #717171;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


/* SECTION-RIGHT */
.section-right{
    height: 100%;
    width: 20%;
    text-align: center;
    /* border: 1px solid gray; */
    border-top: none;
}
.section-right-head{
    padding: 6px 0px;
    background-color:
    #06638b;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
.section-right-content{
    overflow: scroll;
    background-color: aliceblue;
    text-align:justify;
    padding: 5px 5px;
    height: 416px;
}
.section-right-content::-webkit-scrollbar{
    display: none;
}
.section-right-content marquee{
    margin: 0px;
}
.section-right-content marquee ul{
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 15px;
}
.content{
   padding: 10px 0px;
   border-bottom: 1px solid gray;
}
.content a{
    text-decoration: none;
    color: rgb(31,31,31);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.content a:hover{
    text-decoration: underline;
}


/* SECTION-2 */
#section-2{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: 100%;
}
.more-about{
    display: flex;
    justify-content: space-evenly;
}
.more-about-box{
    background-color: #06638b;
    display: flex;
    justify-content: center;
    width: 24.5%;
}
.more-about-box a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 8px 0px;
}
.more-about-box a:hover{
    color:darkblue;
    transition: all 0.5s;
}


/* SECTION-3 */
#section-3{
    height: 330px;
    margin-bottom: 0.3rem;
}
#section-3 h1{
    text-align: center;
}
#section-3 h3{
    text-align: center;
}
#section-3::before {
    position: absolute;
    content: "";
    background: url(img/contact.jpg) no-repeat center center/cover;
    height: 330px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
}
#contact-box input, #contact-box textarea {
    width: 28%;
    display: block;
    padding: 7px 36px;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 6px;
}
#contact-box button {
    width: 28%;
    display: block;
    padding: 6px 25px;
    margin: 15px auto;
    color: black;
    background-color: cadetblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}
#contact-box button:hover {
    background-color: darkslategrey;
    color: white;
    transform: scale(1.03);
    transition: all 0.5s;
}
#contact-box form {
    width: 100%;
    justify-content: center;
}


#footer{
    height: 105px;
    text-align: center;
    background-color:#f5f7fa;
    border-top: 1px solid gray;
}
.other-links{
    margin-top: 5px;
    color: rgb(31,31,31);
}
.presskit-links{
    font-size: 12px;
}
.presskit-links a{
    color: rgb(31,31,31);
    font-size: 12px;
}
.presskit-links a:hover{
    text-decoration: underline;
    color: #0062e4;
}
.copyrights{
    text-decoration: none;
    font-size: 12px;
}



/* *******************  Utility Classes  ******************** */

/* Fonts used */
.font1{
    font-family: 'Baloo Bhai 2', cursive;
}
.font2{
    font-family: 'Ubuntu', sans-serif;
}
.font3{
    font-family: 'Roboto Mono', monospace;
}
.font4{
    font-family: 'Overpass', sans-serif;
}
.font5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.font6{
    font-family: 'Open Sans', sans-serif;
}


/* external social icons */
.fa {
    padding: 3px;
    width: 23px;
    text-align: center;
    text-decoration: none;
    margin: 10px 15px;
    border-radius: 2px;
}
.fa:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #8a3ab9;
    color: white;
}
.fa-search{
    background-color: transparent;
    color: #007bb5;
    transform: scale(1.06);
    padding: 4px;
    margin: 2px 2px;
}



  /* Buttons */
.btn-primary{
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}
.btn-primary:hover{
    transform: scale(1.08);
    transition: all 0.2s;
}
.btn-secondary{
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    color:whitesmoke;
    border: 0px solid white;
    background-color:darkslategray;
}
.btn-secondary:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: all 0.2s;
    color: white;
}

/* Sign Up Form */

/* .formLogin{
    margin: 0 auto;
    width:250px;
}

.formSignup{
    margin: 0 auto;
    width:250px;
}

.loginImg{
    margin-left: 40px;
    margin-top: 10px;
} */

.forms{
    width:400px;
    height:auto;
    background:var(--white);
    margin:auto;
    border-radius:5px;
    padding:20px 40px;
  }

.inputs{
    width:100%;
    padding:15px 0px;
    border:1px solid grey;
    border-radius:5px;
    margin-bottom:15px;
    outline:none;
    font-size:18px;
    text-indent:10px;
  }

  .loginImg{
    display: block;
  margin-left: auto;
  margin-right: auto;

  }
  .forgotpsw{
    float:left;
    color:green;
    text-decoration:none;
  }

  .signUpNew{
    float:left;
    color:green;
    text-decoration:none;
  }
  .submitbtn{
    width:100%;
    padding:15px 10px;
    background:cadetblue;
    color:rgb(255, 255, 255);
    font-size:20px;
    outline:none;
    border-radius:5px;
    border:none;
  }
